%div
  = f.label :location_id, 'Location'
  = f.collection_select(:location_id, Location.order(:name), 'id', 'name')
  = link_to 'Create new location', new_location_path
  = error_for(f, :location_id, 'Location')

%div
  = f.label :on, 'Played on'
  = f.text_field(:on)
  = error_for(f, :on, 'Played on')
