%h1
  = "'#{@game.location.name}'"
  .small
    on
  = @game.on.strftime('%d %b %y')

- if @game.buyin_chips
  .details
    .label (B) Buy-In:
    = number_with_delimiter @game.buyin_chips
    chips for
    = "£#{@game.buyin_amount}"

- if @game.rebuy_chips
  .details
    .label
      (A) Addon:
    = number_with_delimiter @game.rebuy_chips
    chips for
    = "£#{@game.rebuy_amount}"

.details
  .label
    (E) Out of chips

.details
  .label
    (X) Remove player

%table#players
  %thead
    %tr
      %th
        Players
  %tbody
    - @game.players.each do |player|
      %tr.player
        %td
          .actions
            = link_to 'X', game_player_path(@game, player), :title => 'Remove player', :method => 'delete'
            = link_to 'A', game_player_addon_path(@game, player), :title => 'Remove player', :method => 'post'
            = link_to 'E', game_player_exit_path(@game, player), :title => 'Remove player', :method => 'put'
          = player.details(@game).join('<br/>').html_safe

  %thead
    %tr
      %th
        Non-Players
  %tbody
    - @game.non_players.each do |player|
      %tr.non-player
        %td
          .actions
            = link_to 'B', game_players_path(@game, :id => player), :title => 'Add player (buy-in)', :method => 'post'
          = player.name


.buttons
  = link_to 'Edit', edit_game_path(@game), :class => 'button'
  = link_to 'Games', games_path, :class => 'button'
