%h1
  = "'#{@game.location.name}'"
  .small
    on
  = @game.on.strftime('%d %b %y')

- if @game.rebuy_chips
  .details
    .label
      (A) Addon:
    = number_with_delimiter @game.rebuy_chips
    chips for
    = "£#{@game.rebuy_amount}"

.details
  .label
    (E) Out of chips

.details
  .label
    (PS) Player Stats

%table#players
  %thead
    %tr
      %th
        Players
  %tbody
    - @game.players.each do |player|
      %tr.player
        %td
          .actions
            = link_to 'A', game_player_addon_path(@game, player), :title => 'Buy Addon', :method => 'post'
            |
            = link_to 'E', game_player_exit_path(@game, player), :title => 'Exit Game', :method => 'put'
            |
            = link_to 'PS', player_stats_path(player, :from => request.env['REQUEST_URI']), :title => 'Player stats', :method => 'get'
          = link_to player.details(@game).join('<br/>').html_safe, game_player_path(@game, player)


.buttons
  = link_to 'Change player list', game_players_path(@game), :class => 'button'
.buttons
  = link_to 'Edit', edit_game_path(@game), :class => 'button'
  = link_to 'Games', games_path, :class => 'button'
